/* @import 'index.css'; */
@import '@/index.css';

.terminal-window {
    position: relative;
    background: linear-gradient(45deg, var(--bush), var(--randoon-green), var(--oslo-grey));
    background-size: 400% 400%;
    box-shadow: 0 20px 20px rgba(50, 255, 255, 0.1);
    color: #D6EADD;
    border-color: #D6EADD;
    position: relative;
    overflow: hidden;

    animation: hueShift 10s ease infinite;
    transition: all 0.5 ease-in-out;
    z-index: 1;
}

.terminal-window:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, var(--classic-mint-green), var(--pale-mint-green), black);
    background-size: 400% 400%;
    z-index: 2;
    background-size: 100% 3px, 3px 100%;
    pointer-events: none;

    animation: hueShift 10s ease infinite;
    opacity: 0;
    transition: opacity 0.8 ease-in-out;
    z-index: -1;
}



.dark-terminal-window {
    /* position: relative; */
     background: linear-gradient(45deg, var(--classic-mint-green), var(--pale-mint-green), black);
    color: black;
    box-shadow: 0 0 20px rgba(0, 255, 65, 0.1);
    overflow: hidden;
    background-size: 800% 800%;
    animation: hueShift 10s ease infinite;
    color: black;
    box-shadow: 0 0 20px rgba(0, 255, 65, 0.1);
}

.dark-terminal-window:before {
    opacity: 1;
}





.terminal-flicker {
    animation: flicker 0.15s infinite;
}

@keyframes hueShift {
    /* from { filter: hue-rotate(0deg) };
    to { filter: hue-rotate(360deg) }; */
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes flicker {
    0% { opacity: 0.98 }
    100% { opacity: 1 }
}

.text-glow {
    text-shadow: 0 0 5px rgba(52, 211, 153, 0);
}