@import "tailwindcss";

:root {
  
  /* Color Section */
  --dark-mint-green: #0ec454;
  --midnight-moss: #000201;
  --bush: #062C14;
  --green-white: #E1EDE5;
  --pale-grey: #FCFDFC;

  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  

  font: 18px/145% var(--mono);
  letter-spacing: 0.18px;
  color-scheme: light dark;

  /* background: var(--bg); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  @apply transition-colors duration-1100 ease-in-out;
}



body {
  background-color: var(--pale-grey);
  /* background-image: linear-gradient(240deg, var(--green-white), var(--pale-grey) 95%); */
  color: var(--bush);
  text-shadow: var(--shadow) 
}

.dark body {
  background-color: #26282C;
  background-image: linear-gradient(-240deg, #080607 #26282C, #080607);
  color: var(--dark-mint-green);
  font: var(--mono);
}