@import "tailwindcss";

:root {
  
  /* Color Section */
  --dark-mint-green: #0ec454;
  --midnight-moss: #000201;
  --bush: #062C14;
  --green-white: #E1EDE5;
  --pale-grey: #FCFDFC;


  
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  
  --fluid-ratio: 1vw + 0.5rem;

  font: 18px/145% var(--mono);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  

  /* background: var(--bg); */
  font-synthesis: none; /* avoiding fake font syles */
  text-rendering: optimizeLegibility; /* for easiness to read the letters */
  
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  
  /* grayscale to avoid redness of letters and atialiased for smothness display of texts */
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;

  /* font-size: clamp(16px, 1vw + 12px, 18px); */

  /* @media (max-width: 1024px) {
    font-size: 16px;
  } */

  /* Fluid font sizes */
  --font-size-sm: clamp(0.875rem, var(--fluid-ratio), 1rem);
  --font-size-base: clamp(1rem, var(--fluid-ratio), 1.125rem);
  --font-size-xl: clamp(1.125rem, calc(var(--fluid-ratio) * 1.5), 1.75rem);
  --font-size-4xl: clamp(1.125rem, calc(var(--fluid-ratio) * 3), 4rem);
}

body {
  background-color: var(--pale-grey);
  font-family: var(--sans);
  color: var(--bush);
  text-shadow: var(--shadow);
  font: var(--mono)
}

.theme-ready, .theme-ready * {
  transition: background-color 0.6s ease-in-out, 
  background-image 0.6s ease-in-out, 
  color 0.6s ease-in-out,
  font-family 0.6s ease-in-out, 
  border-color 0.6s ease-in-out,
  shadow 0.6s ease-in-out
  !important
}

.dark body {
  background-color: #26282C;
  background-image: l1gradient(-240deg, #080607, #26282C, #080607);
  color: var(--dark-mint-green);
}

  
.perspective-1000 { perspective: 1000px; }
.preserve-3d { transform-style: preserve-3d; }
.no-scrollbar::-webkit-scrollbar { display: none; }